.about-us{
    padding-top: 4rem;
}



.about-description{
    padding:1rem;
}


.img-mark{
    text-align: center;
}

.mark-img{
    padding-top: 4rem;
}

.row-marig-zero {
    
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    margin-right: 0px;
    margin-left: 0px;

}

.project-titulo{
    text-align: center;
    padding:12px; 
    color:white;
    margin-left: 14vmin;
    margin-right: 14vmin;
    margin-top: 30px;

}

.project-description{
    margin-top: 4vmin;
    margin-bottom: 11vmin;
    margin-left: 7vmin;
    margin-right: 2vmin;
    padding-bottom: 2vmin;
    padding-top: 2vmin;
}

.project-description-b{
    margin-top: 4vmin;
    margin-bottom: 11vmin;
    margin-left: 16vmin;
    margin-right: 2vmin;
    padding-bottom: 2vmin;
    padding-top: 2vmin;
}

.project-description h2{
    color:rgb(255, 255, 255);
}
.project-description-b h2{
    color:rgb(255, 255, 255);
}

.padding-divider{
    padding-top: 20px;
}
.padding-piepag{
    padding-top: 23px;
    padding-bottom: 50px;
}

.project-description p{
    color: white;
    font-family: Raleway;
}

.project-description-b p{
    color: white;
    font-family: Raleway;
}

.title-other-projects{
    color:rgb(18, 24, 75);
    margin-left: 7vmin;
    margin-top: 4vmin;
}

.project-description-imgb{
    margin-left: 10vmin;
}

h3 {
    color:rgb(255, 255, 255);
}

.image-size{
    width: 66vmin;
}


.color-letra-1 {
    color: rgba(211, 116, 22, 0.918);
  }
  
  .color-letra-2 {
    color: rgb(185, 149, 26, 0.918);
  }
  
  .color-letra-3 {
    color: rgb(163, 170, 55, 0.918);
  }

  .color-letra-4 {
    color:rgb(156, 189, 39);
  }