.about-us{
    padding-top: 4rem;
}



.about-description{
    padding:1rem;
}

.about-description h2{
    color:rgb(185,149,26);
}
.img-mark{
    text-align: center;
}

.mark-img{
    padding-top: 2rem;
}

.row-marig-zero {
    
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    margin-right: 0px;
    margin-left: 0px;

}

.project-titulo{
    text-align: center;
    padding:12px; 
    color:white;
    margin-left: 14vmin;
    margin-right: 14vmin;
    margin-top: 30px;

}

.project-description{
    
   
    margin-top: 20px;
    margin-left: 9vmin;
    margin-right: 19vmin;
    padding-top:2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    

}

.project-description h2{
    color:rgb(67, 59, 136);
}